
{%- capture search_results_data -%}
[
  {%- for item in search.results -%}
    {%- include 'logic--tagline', product: item -%}
    {
      "id": "{{ item.variants.first.id }}",
      "available": {{ item.available }},
      "title": "{{ item.title | escape }}",
      "tagline": "{{ product_tagline | escape }}",
      "url": "{{ item.url }}",
      "image": "{{ item.featured_image | img_url: '229x294' }}",
      "hoverImage": "{% if item.images[1] %}{{ item.images[1] | img_url: '229x294' }}{% endif %}",
      "imageAlt": "{{ item.images[0].alt }}",
      "price": {{ item.price }},
      "remainingQuantity": {{ item.variants[0].inventory_quantity }}
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
]
{%- endcapture -%}

{%- paginate search.results by 250 -%}
  <div class="container search-results__container">
    <h1 class="search-results__header">
      {%- if search.performed -%}
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ 'general.search.title' | t }}
      {%- endif -%}
    </h1>

    {%- if search.performed -%}
      {%- if search.results_count == 0 -%}
        <p class="search-results__none">Please try a different search term or shop our best sellers below.</p>
        {%- section 'featured-collection' -%}
      {%- else -%}
        <search-results :search-results="{{ search_results_data | escape }}"></search-results>
      {%- endif -%}
    {%- else -%}
      <form action="/search" method="get" role="search" class="input search-results__input">
        <label for="Search" class="u-hidden">{{ 'general.search.placeholder' | t }}</label>
        <input type="search"
          name="q"
          id="Search"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}">
        <submit-button label="Search"></submit-button>
      </form>
    {%- endif -%}
  </div>
{%- endpaginate -%}
