<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- include 'social-meta-tags' -%}

    {{ content_for_header }}

    {{ 'bvaccel.css' | asset_url | stylesheet_tag }}
    {{ 'bvaccel-app.css' | asset_url | stylesheet_tag }}

    <style>[v-cloak] { opacity: 0; max-height: 100vh; }</style>
  </head>

  <body class="template-{{ template.name | handle }}">
    {%- include 'icon-store' -%}

    <div id="app" v-cloak>
      {%- section 'header' -%}

      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer' -%}

      <toast></toast>
      <video-modal></video-modal>
      <sidecart
        {% if settings.sidecart_promo_message != blank %}promo-message="{{ settings.sidecart_promo_message }}"{% endif %}
        {% if settings.sidecart_empty_image != blank %}
          empty-image="{{ settings.sidecart_empty_image | img_url: '400x360' }}"
          empty-image-alt="{{ settings.sidecart_empty_image_alt }}"
        {% endif %}
        {% if settings.gwp_threshold_product != blank %}
          threshold-product-handle="{{ settings.gwp_threshold_product }}"
          threshold-description="{{ settings.gwp_threshold_description }}"
          :threshold-value="{{ settings.gwp_threshold_value }} * 100"
        {% endif %}
        empty-text="{{ settings.sidecart_empty_message }}">
      </sidecart>
    </div>

    {{ 'vendors-main.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    <script>console.log('this is a test')</script>
  </body>
</html>
